<launch>
    <param name="robot_description" command="cat $(find g1_description)/urdf/g1_dual_arm.urdf" />
    <param name="robot_description_semantic"
        command="cat $(find droid_arm_ctrl)/config/g1_dual_arm.srdf" />
    <rosparam command="load" file="$(find droid_arm_ctrl)/config/kinematics.yaml"
        subst_value="true" />
    <include file="$(dirname)/planning_pipeline.launch.xml">
        <arg name="pipeline" value="ompl" />
    </include>
    <node name="droid_arm_ctrl" pkg="droid_arm_ctrl" type="droid_arm_ctrl_node"
        output="screen" />

</launch>
