<?xml version="1.0"?>
<launch>
  <!-- MoveIt options -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt" />
  <arg name="robot_name" value="g1_dual_arm" />
  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI" />
  <arg name="paused" default="false" doc="Start Gazebo paused" />
  <arg name="use_sim_time" default="true" />
  <!-- <arg name="world_name" value="$(find droid_arm_ctrl)/worlds/env.world" /> -->
  <arg name="world_name" value="" />
  <arg name="world_pose" default="-x 0 -y 0 -z 0.5 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at" />
  <arg name="initial_joint_positions"
    default=" -J left_elbow_joint 1.5707 -J left_shoulder_pitch_joint 0 -J left_shoulder_roll_joint 0 -J left_shoulder_yaw_joint 0 -J left_wrist_pitch_joint 0 -J left_wrist_roll_joint 0 -J left_wrist_yaw_joint 0 -J right_elbow_joint 1.5707 -J right_shoulder_pitch_joint 0 -J right_shoulder_roll_joint 0 -J right_shoulder_yaw_joint 0 -J right_wrist_pitch_joint 0 -J right_wrist_roll_joint 0 -J right_wrist_yaw_joint 0"
    doc="Initial joint configuration of the robot" />
  <arg name="debug" default="false" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="cat $(find g1_description)/urdf/g1_dual_arm.urdf" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="false" />
  </include>
  <!-- Set trunk and joint positions at startup -->
  <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
    args="-urdf -param robot_description -model g1_dual_arm -unpause $(arg world_pose) $(arg initial_joint_positions)" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find droid_arm_ctrl)/config/gazebo_sim_controllers.yaml" command="load" />

  <!-- load the controllers -->
  <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
    output="screen" ns="/$(arg robot_name)_gazebo"
    args="joint_state_controller
          left_shoulder_pitch_controller left_shoulder_roll_controller
          left_shoulder_yaw_controller left_elbow_controller
          left_wrist_roll_controller left_wrist_pitch_controller
          left_wrist_yaw_controller right_shoulder_pitch_controller
          right_shoulder_roll_controller right_shoulder_yaw_controller
          right_elbow_controller right_wrist_roll_controller
          right_wrist_pitch_controller right_wrist_yaw_controller" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg robot_name)_gazebo/joint_states" />
  </node>
  <include file="$(find unitree_controller)/launch/set_ctrl.launch">
    <arg name="rname" value="$(arg robot_name)_gazebo" />
  </include>
  <!-- Rviz -->
</launch>
